{
  "server": [
    {
      "id": "",
      "channels": [
        { "id": "" },
        { "id": "" }
      ]
    },
    {
      "id": "",
      "channels": [
        { "id": "" },
        { "id": "" }
      ]
    }
  ]
}
